---
import { Sample } from '@/components/Sample'
import { BaseLayout } from '@/layouts'
---

<BaseLayout title="">
<div>hi!!</div>
<a href=""></a>
<button>aaa</button>
<h1>heading</h1>
<Sample />
</BaseLayout>